In [1]:
import pandas as pd

In [2]:
album_headers = ['id', 'name', 'artist_id']
album_list = pd.DataFrame(columns=album_headers)
album_list

Empty DataFrame
Columns: [id, name, artist_id]
Index: []

In [3]:
df = pd.DataFrame([['sfffre34235', 'album name', 'bob']],
                   columns=album_headers)
df

            id        name artist_id
0  sfffre34235  album name       bob

In [4]:
album_list = album_list.append(df, ignore_index=True)
album_list

            id        name artist_id
0  sfffre34235  album name       bob

In [25]:
a = album_list[['name', 'id']]
a

         name           id
0  album name  sfffre34235

In [32]:
d = 'test'
d1 = []
d1.append(d)
d = d1
d

['test']

In [33]:
data = 'test'
data = [data]
data

['test']