In [3]:
import pandas as pd

In [5]:
album_headers = ['id', 'name', 'artist_id']
album_list = pd.DataFrame(columns=album_headers)
album_list

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>artist_id</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [10]:
df = pd.DataFrame([['sfffre34235', 'album name', 'bob']],
                   columns=album_headers)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>artist_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>sfffre34235</td>
      <td>album name</td>
      <td>bob</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
album_list = album_list.append(df, ignore_index=True)
album_list

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>artist_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>sfffre34235</td>
      <td>album name</td>
      <td>bob</td>
    </tr>
  </tbody>
</table>
</div>